.header {
  border: solid #626ABA 3px;
  background: linear-gradient(35deg, blue, purple, pink);
  padding: 10px;
  border-radius: 25px;
  height: 75px;
}

h1 {
  color: fuchsia;
  float: left;
  padding: 5px;
  margin: 5px;
  font-family: "papyrus";
}

a {
  margin: 5px;
  margin-top: 50px;
  padding: 5Px;
  color: #34495E;
  background-color: #AED6F1;
  border-radius: 25px;
  position: relative;
  bottom: 75px;
  left: 40px;
}

body {
  background-color: black;
}

button {
  background-color: yellow;
  border-radius: 0 25px 25px 0;
  position: sticky;
  top: 100px;
  clear: right;
}

input {
  width: 100px;
  border-radius: 25px 0 0 25px;
  position: sticky;
  top: 100px;
  right: 80px;
}

#imgTitle {
  width: 75px;
  height: 75px;
  float: left;
  border-radius: 35px;
  border: solid #5F6A6A 3px;
}

input, button, a {
  float: right;
}
